@using ShoppingCore.Models.Db;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListPhone = (IEnumerable<Product>)ViewBag.ListPhone;
    var ListLaptop = (IEnumerable<Product>)ViewBag.ListLaptop;
    var ListTab = (IEnumerable<Product>)ViewBag.ListTab;
}

@await Html.PartialAsync("PartialListPhone",ListPhone)
<div class="row">
    <div class="col-12">
        <h1 style="text-align:center">New Laptop</h1>
    </div>
</div>
<div class="row">
    @await Html.PartialAsync("PartialListLaptop", ListLaptop);
</div>
<div class="row">
    <div class="col-12">
        <h1 style="text-align: center">New Tab</h1>
    </div>
</div>
<div class="row">
    @await Html.PartialAsync("PartialListTab",ListTab)
</div>
