@using ShoppingCore.Models.Db;
@model  IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLive.cshtml";
    var ListPhone = (IEnumerable<Product>)ViewBag.ListPhone;
    var ListLaptop = (IEnumerable<Product>)ViewBag.ListLaptop;
    var ListTab = (IEnumerable<Product>)ViewBag.ListTab;
}

<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>NEW RELEASED</h1>
            @await Html.PartialAsync("ListPhonePartial", ListPhone);
        </div>
        <div class="content-top-bottom">
            <h2>Featured Collections</h2>
            @await Html.PartialAsync("ListLaptopPartial", ListLaptop);
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="content-bottom">
        @await Html.PartialAsync("ListTabPartial", ListTab);
    </div>
</div>
