@model IEnumerable<ShoppingCore.Models.ViewModels.ProducerViewModel>
@foreach (var item in Model)
{
    <ul>
        <li><a href="@Url.Action("Index","Product",new {@producerId=item.ProducerId })">@item.Name</a></li>
    </ul>
}
