@model IEnumerable<ShoppingCore.Models.Db.Product>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@foreach (var item in Model)
{
    <div class="col-md-2 col-sm-4 col-12">
        <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
        <p>@item.Name</p>
    </div>
}
