<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="/css/tan-style.css" rel="stylesheet" />
    <script src="/js/js.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color:greenyellow">
            <div class="col-md-2 col-12">
                <img src="/images/logo.png" />
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item ">
                        <a class="nav-link" href="#">Phone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Laptop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Brand</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Introduce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div>
            <img src="/images/background.jpg" alt="background" style="width:100%;height:50%" class="img-fluid" />
        </div>
        <div class="row">
            <div class="col-12">
                <h1 style="text-align:center">
                    New Phone
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/ProductImages/abc.jpg" class="img-thumbnail " />
                <p>Phone 1</p>
            </div>
            <div class="col-4">
                <img src="/ProductImages/sam.jpg" class="img-thumbnail " />
                <p>Phone 2</p>

            </div>
            <div class="col-4">
                <img src="/ProductImages/oppo.jpg" class="img-thumbnail" />
                <p>Phone 3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 style="text-align:center">New Laptop</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6">
                <img src="/ProductImages/macbook.jpg" class="img-thumbnail" style="width:100%;height:300px;" />
                <p>Lap1</p>
            </div>
            <div class="col-6 col-sm-6">
                <img src="/ProductImages/macbook.jpg" class="img-thumbnail" style="width:100%;height:300px;" />
                <p>Lap2</p>

            </div>
            <div class="col-6 col-sm-6">
                <img src="/ProductImages/lapMSI.jpg" class="img-thumbnail" style="width:100%;height:300px;" />
                <p>Lap3</p>

            </div>
            <div class="col-6 col-sm-6">
                <img src="/ProductImages/Laptopdell.jpg" class="img-thumbnail" style="width:100%;height:300px;" />
                <p>Lap4</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 style="text-align: center">New Tab</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <img src="/ProductImages/ipad.jpg" width="100%" height="200px" />
                <p>Tab1</p>
            </div>
        </div>
        <div class="row" style="background-color:#000">

            <div class="col-12 col-md-6">
                <h2>More info</h2>
                <ul class="Content">
                    <li>How to order</li>
                    <li>FAQ</li>
                    <li>Location</li>
                    <li>Shipping</li>
                    <li>Membership</li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h2>Contact US</h2>
                <ul class="Content">
                    <li>How to order</li>
                    <li>FAQ</li>
                    <li>Location</li>
                    <li>Shipping</li>
                    <li>Membership</li>
                </ul>
                <ul class="context">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fas fa-dove"></i></li>
                    <li><i class="fas fa-wifi"></i></li>
                    <li><i class="fas fa-info"></i></li>
                </ul>
            </div>

            <div class="col-12" style="margin-top:50px;">
                <p style="text-align:center;color:aliceblue;font-size:30px;">
                    © 2015 New store All Rights Reserved | Design by W3layouts
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <table>
                            <tr>
                                <td>
                                    <span>Account</span>
                                    <input type="text" />
                                </td>
                                <td>
                                    <span>Password</span>
                                    <input type="text" />
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                        <input type="submit" value="Login" />
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    @RenderBody()
    <script>
        function showLoginPopup() {
            $("#divLoginPopup").show();
        }
    </script>
</body>
</html>